{% extends 'layout.html' %} {% import "filters.html" as filters %} {% import
'@apostrophecms/pager:macros.html' as pager with context %} {% block title %}{{
data.page.title }}{% endblock %} {% block main %}
<div class="container mx-auto max-w-screen-lg">
  <div class="grid grid-cols-3">
    <div class="">
      <h2>{{ __t('bdArticle:filters') }}</h2>
      {% render filters.render({ filters: data.piecesFilters, query: data.query,
      url: data.page._url }) %}
    </div>
    <div class="col-span-2">
      <h2>{{ __t('bdArticle:pluralLabel') }}</h2>
      {% for piece in data.pieces %}
      <article>
        <h3>
          <a href="{{ piece._url }}">{{ piece.title }}</a>
        </h3>
        <p>{{ piece.searchSummary | truncate(150) }}</p>
      </article>
      {% endfor %}
    </div>
  </div>
</div>

{{ pager.render({ page: data.currentPage, total: data.totalPages, class:
'blog-pager' }, data.url) }} {% endblock %}
