<div>
  <div class="flex flex-col gap-4">
    {% set cls = cycler("", "bg-gray-200") %} {% for article in data.articles %}
    <article
      class="flex-grow w-full border-2 rounded-lg p-2 shadow-lg hover:shadow-xl hover:-translate-y-2 animate-fade-in-up"
    >
      <div class="flex flex-row w-full gap-2">
        <div>
          <h6>
            <a href="{{ article._url }}">{{ article.title }}</a>
          </h3>
        </div>
        <div class="flex-grow">
          <p class="text-sm">{{ article.searchSummary | truncate(75) }}</p>
          <div class="text-xs text-muted">
            {{ article.createdAt | date('MMM, DD YYYY') }}
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="w-full flex justify-end pt-2">
    <a href="/articles" class="text-xs text-muted">All articles...</a>
  </div>
</div>
