{# This is an example home page template. It inherits and extends a layout
template that lives in the top-level views/ folder for convenience #} {% extends
"layout.html" %} {% block main %}
<div class="container mx-auto max-w-screen-lg">
  <div class="grid grid-cols-1 md:grid-cols-3 md:gap-2">
    <!-- main body section -->
    <div class="col-span-2">
      <div
        class="bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 rounded-2xl p-8 text-center text-lg text-white shadow-lg hover:shadow-xl"
      >
        <h1>Welcome!</h1>
      </div>
      <section>{% area data.page, 'bodycontent' %}</section>
    </div>
    <!-- latest articles list -->
    <div class="">{% component 'article:latest' with { max: 10 } %}</div>
  </div>
</div>
{% endblock %}
