{% block footer %}
<footer class="flex flex-col">
  <div class="grid grid-cols-12 border-t-2 border-gray-800 py-4 mx-4">
    <div class="">&nbsp;</div>
    <div class="col-span-10 text-center uppercase text-xs text-muted">
      <a href="/" target="_blank"
        >Relax, you're already at PawPawsHouse.com</a
      >
    </div>
    <div class="flex justify-end">
      <a href="/login">
        <img
          class="p-1 rounded-lg"
          src="/images/pi-mathematical-constant-symbol.png"
          height="24"
          width="24"
        />
      </a>
    </div>
  </div>
</footer>
{% endblock %}
