{# Breadcrumb trail to the current page or piece. Not on the home page #} {% if
data.page and data.page._ancestors.length %}

<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center">
    {# Loop over the ancestors. #} {% for page in data.page._ancestors %}
    <li class="inline-flex items-center">
      <a
        class="text-gray-700 hover:text-gray-900 text-sm font-medium"
        href="{{ page._url }}"
        >{{ page.title }}</a
      >
      <svg
        class="w-6 h-6 text-gray-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </li>
    {% endfor %}
    <li class="inline-flex items-center">
      {% if data.piece %} {# We're rendering a show page. #}
      <a
        class="text-gray-700 hover:text-gray-900 text-sm font-medium"
        href="{{ data.page._url }}"
        >{{ data.page.title }}</a
      >
      <svg
        class="w-6 h-6 text-gray-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span>{{ data.piece.title }}</span>
      {% else %} {# We're rendering a normal page. #}
      <span>{{ data.page.title }}</span>
      {% endif %}
    </li>
  </ol>
</nav>
{% endif %}
