{% block desktopNav %}
<style>
  .dropdown:hover > .dropdown-content {
    display: block;
  }
</style>
<ul class="flex flex-row justify-right gap-4 mt-2">
  {# 👇 Referencing `data.home._children` and looping over them. #} {% for page
  in data.home._children %}
  <li class="dropdown relative">
    <a href="{{ page._url }}" class="text-white whitespace-nowrap hover:{{ data.global.navTextHoverClass }}"
      >{{ page.title }}</a
    >
    {% if page._children.length %}
    <ul class="hidden dropdown-content absolute bg-gray-700 p-1 -ml-6">
      {% for childpage in page._children %}
      <li class="text-white">
        <a href="{{ childpage._url }}" class="hover:text-yellow-500 whitespace-nowrap"
          >{{ childpage.title }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
